# Genere par ./cursus au premier lancement
projects/inception/srcs/.env
projects/inception/srcs/secrets/
projects/ft_transcendence/.env
projects/cloud-1/docker/.env
projects/cloud-1/docker/certs/

# Artefacts de compilation
obj/
dep/
*.o
*.d
*.cgi

# Sorties des scripts de test de la piscine C++
debug.txt
.make.txt

# Artefacts des projets du tronc commun
objs/
objs_and_deps*/
*.a
make_interface/

# Dependances installees au lancement
node_modules/
.expo/

# Binaires de la piscine C++ (un NAME par exercice)
projects/cpp-modules/*/*/A
projects/cpp-modules/*/*/AMateria
projects/cpp-modules/*/*/Abomination
projects/cpp-modules/*/*/Animal
projects/cpp-modules/*/*/Array
projects/cpp-modules/*/*/Brain
projects/cpp-modules/*/*/Bureaucrat
projects/cpp-modules/*/*/ClapTrap
projects/cpp-modules/*/*/DiamondTrap
projects/cpp-modules/*/*/FragTrap
projects/cpp-modules/*/*/Iter
projects/cpp-modules/*/*/Maggots
projects/cpp-modules/*/*/No
projects/cpp-modules/*/*/PmergeMe
projects/cpp-modules/*/*/RPN
projects/cpp-modules/*/*/ScavTrap
projects/cpp-modules/*/*/Span
projects/cpp-modules/*/*/bsp
projects/cpp-modules/*/*/btc
projects/cpp-modules/*/*/coffee-making
projects/cpp-modules/*/*/convert
projects/cpp-modules/*/*/easyfind
projects/cpp-modules/*/*/fixed1
projects/cpp-modules/*/*/fixed2
projects/cpp-modules/*/*/fixed3
projects/cpp-modules/*/*/gbu
projects/cpp-modules/*/*/harl
projects/cpp-modules/*/*/harlFilter
projects/cpp-modules/*/*/horde
projects/cpp-modules/*/*/identify
projects/cpp-modules/*/*/megaphone
projects/cpp-modules/*/*/phonebook
projects/cpp-modules/*/*/ref
projects/cpp-modules/*/*/sed
projects/cpp-modules/*/*/serializer
projects/cpp-modules/*/*/violence
projects/cpp-modules/*/*/whatever
projects/cpp-modules/*/*/zombie

# Binaires des projets (les mlx-test de minilibx viennent des depots dorigine, eux restent)
projects/cub3d/cub3D
projects/cub3d/cub3D_bonus
projects/fdf/fdf
projects/push_swap/push_swap
projects/push_swap/checker
projects/minitalk/client*
projects/minitalk/server*
projects/minishell/minishell
projects/webserv/webserv
projects/philosophers/philo/philo
projects/philosophers/philo_bonus/philo_bonus
