# Genere par ./cursus au premier lancement
projects/inception/srcs/.env
projects/inception/srcs/secrets/
projects/ft_transcendence/.env
projects/cloud-1/docker/.env
projects/cloud-1/docker/certs/

# Artefacts de compilation
obj/
dep/
*.o
*.d
*.cgi

# Sorties des scripts de test de la piscine C++
debug.txt
.make.txt

# Artefacts des projets du tronc commun
objs/
objs_and_deps*/
*.a
make_interface/

# Dependances installees au lancement
node_modules/
.expo/
